*{
    margin: auto;
    padding: 0px;
}

#wrapper{
    background-color: #EAE9E5;
    background-size: auto;
    margin: 0px 1%;
}

form{
    text-align: center;
    background-color: white;
    padding: 5% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: fit-content;
    border: 2px solid gray;
    border-radius: 10px;
}

#username #label{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 15%;

}

#password #label{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 15%;

}

#header-login{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10%;
}

input{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    height: 30%;
    border: 1px solid gray;
    border-radius: 3px;
}

#username #usernameInput{
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

#password #passwordInput{
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

#btnLogin #btnLog{
    font-size: 30px;
    color: white;
    background-color: #474787;
}

#btnLogin #btnLog:hover{
    background-color: #3c40c6;
    transition: ease-in-out;
    transition: all 0.3s;
    cursor: pointer;
}

#more{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}

#more #new-account{
    text-decoration: none;
    color: blue;
}

#more #new-account:hover{
    text-decoration: none;
    color: #2d98da;
    transition: ease-in-out;
    transition: all 0.3s;
}